<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img src="assets/images/logo.png" width="150px" class="user-avatar" />
            <h1>SB Admin BS4 Angular7</h1>
            <form role="form">
                  

                

                       

                <div class="form-content">
                    <div class="form-group">
                        <input type="text" name ="name" [(ngModel)]="user.name" #name="ngModel" class="form-control input-underline input-lg" id="" placeholder="{{ 'Email' | translate }}">
                    </div>

                    <div class="form-group">
                        <input type="password"  name="password" [(ngModel)]="user.password" #password="ngModel" class="form-control input-underline input-lg" id="" placeholder="{{ 'Password' | translate }}">
                    </div>
                </div>
                <div class="alert alert-danger alert-dark p-y-1" [hidden]="!(invalidLogin && !unExpectedError)">
                        Invalid Login
                    </div>
                    <div class="alert alert-danger alert-dark p-y-1" [hidden]="!unExpectedError">
                        Some thing went wrong
                    </div>
                <a class="btn rounded-btn"  (click)="signIn()">{{ 'Log in' | translate }}</a>
                &nbsp;
                <a class="btn rounded-btn" [routerLink]="['/signup']">{{ 'Register' | translate }}</a>
            </form>
        </div>
    </div>
</div>
